body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u181 {
  position:absolute;
  left:380px;
  top:0px;
  width:360px;
  height:707px;
}
#u182 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u183 {
  position:absolute;
  left:399px;
  top:56px;
  width:320px;
  height:569px;
  opacity:0.6;
}
#u184 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:569px;
}
#u185 {
  position:absolute;
  left:400px;
  top:56px;
  width:319px;
  height:569px;
}
#u186 {
  position:absolute;
  left:2px;
  top:276px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:24px;
  background:inherit;
  background-color:rgba(91, 83, 80, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u187 {
  position:absolute;
  left:467px;
  top:67px;
  width:186px;
  height:24px;
  color:#FFFFFF;
}
#u188 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u189 {
  position:absolute;
  left:688px;
  top:67px;
  width:20px;
  height:20px;
}
#u190 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u192 {
  position:absolute;
  left:760px;
  top:0px;
  width:360px;
  height:707px;
}
#u193 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u194 {
  position:absolute;
  left:779px;
  top:56px;
  width:320px;
  height:569px;
  opacity:0.6;
}
#u195 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u196 {
  position:absolute;
  left:779px;
  top:56px;
  width:320px;
  height:569px;
}
#u197 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:24px;
  background:inherit;
  background-color:rgba(106, 97, 90, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u198 {
  position:absolute;
  left:847px;
  top:59px;
  width:186px;
  height:24px;
  color:#FFFFFF;
}
#u199 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:734px;
  top:563px;
  width:0px;
  height:0px;
}
#u200_seg0 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:8px;
  height:7px;
}
#u200_seg1 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:29px;
  height:8px;
}
#u200_seg2 {
  position:absolute;
  left:10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u201 {
  position:absolute;
  left:-39px;
  top:-11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
  background:inherit;
  background-color:rgba(94, 86, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u202 {
  position:absolute;
  left:658px;
  top:535px;
  width:50px;
  height:39px;
}
#u203 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:707px;
}
#u206 {
  position:absolute;
  left:2px;
  top:346px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u207 {
  position:absolute;
  left:19px;
  top:56px;
  width:320px;
  height:569px;
  opacity:0.6;
}
#u208 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:38px;
}
#u210 {
  position:absolute;
  left:20px;
  top:56px;
  width:319px;
  height:38px;
}
#u211 {
  position:absolute;
  left:2px;
  top:11px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u212 {
  position:absolute;
  left:138px;
  top:68px;
  width:83px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u214 {
  position:absolute;
  left:36px;
  top:518px;
  width:288px;
  height:35px;
}
#u215 {
  position:absolute;
  left:2px;
  top:10px;
  width:284px;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:272px;
}
#u216 {
  position:absolute;
  left:36px;
  top:104px;
  width:288px;
  height:272px;
}
#u217 {
  position:absolute;
  left:2px;
  top:128px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u218 {
  position:absolute;
  left:31px;
  top:71px;
  width:18px;
  height:18px;
}
#u219 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
