body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:697px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:789px;
}
#u9998 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:789px;
}
#u9999 {
  position:absolute;
  left:2px;
  top:386px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:635px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10000 {
  position:absolute;
  left:20px;
  top:63px;
  width:358px;
  height:635px;
}
#u10001 {
  position:absolute;
  left:2px;
  top:310px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:49px;
}
#u10003 {
  position:absolute;
  left:20px;
  top:63px;
  width:358px;
  height:49px;
}
#u10004 {
  position:absolute;
  left:2px;
  top:16px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u10005 {
  position:absolute;
  left:152px;
  top:77px;
  width:93px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u10006 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u10007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u10007 {
  position:absolute;
  left:31px;
  top:80px;
  width:18px;
  height:18px;
}
#u10008 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:398px;
}
#u10009 {
  position:absolute;
  left:20px;
  top:300px;
  width:358px;
  height:398px;
}
#u10010 {
  position:absolute;
  left:2px;
  top:191px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u10011 {
  position:absolute;
  left:124px;
  top:334px;
  width:150px;
  height:150px;
}
#u10012 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10013 {
  position:absolute;
  left:37px;
  top:549px;
  width:325px;
  height:32px;
  font-size:13px;
  color:#666666;
}
#u10014 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u10015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u10015 {
  position:absolute;
  left:154px;
  top:434px;
  width:99px;
  height:16px;
  color:#169BD5;
  text-align:center;
}
#u10016 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u10017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u10017 {
  position:absolute;
  left:158px;
  top:360px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u10018 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u10019 {
  position:absolute;
  left:154px;
  top:385px;
  width:93px;
  height:31px;
  font-size:28px;
  color:#FF9966;
  text-align:center;
}
#u10020 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u10021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
}
#u10021 {
  position:absolute;
  left:138px;
  top:510px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u10022 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u10023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:179px;
}
#u10023 {
  position:absolute;
  left:20px;
  top:111px;
  width:358px;
  height:179px;
}
#u10024 {
  position:absolute;
  left:2px;
  top:82px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10025 {
  position:absolute;
  left:138px;
  top:223px;
  width:123px;
  height:40px;
}
#u10026 {
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u10027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
}
#u10027 {
  position:absolute;
  left:144px;
  top:159px;
  width:111px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u10028 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u10029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
}
#u10029 {
  position:absolute;
  left:456px;
  top:434px;
  width:92px;
  height:15px;
  font-size:12px;
  color:#FF0000;
  text-align:center;
}
#u10030 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u10031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10032 {
  position:absolute;
  left:441px;
  top:170px;
  width:256px;
  height:146px;
}
#u10033 {
  position:absolute;
  left:2px;
  top:65px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:2px;
}
#u10034 {
  position:absolute;
  left:441px;
  top:269px;
  width:256px;
  height:1px;
}
#u10035 {
  position:absolute;
  left:2px;
  top:-8px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:2px;
}
#u10036 {
  position:absolute;
  left:441px;
  top:269px;
  width:256px;
  height:1px;
}
#u10037 {
  position:absolute;
  left:2px;
  top:-8px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u10038 {
  position:absolute;
  left:590px;
  top:280px;
  width:78px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u10039 {
  position:absolute;
  left:0px;
  top:4px;
  width:78px;
  word-wrap:break-word;
}
#u10040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10040 {
  position:absolute;
  left:479px;
  top:210px;
  width:169px;
  height:20px;
  font-size:14px;
}
#u10041 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u10042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u10042 {
  position:absolute;
  left:473px;
  top:280px;
  width:78px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u10043 {
  position:absolute;
  left:0px;
  top:4px;
  width:78px;
  word-wrap:break-word;
}
#u10044 {
  position:absolute;
  left:261px;
  top:243px;
  width:0px;
  height:0px;
}
#u10044_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:184px;
  height:8px;
}
#u10044_seg1 {
  position:absolute;
  left:165px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10045 {
  position:absolute;
  left:40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
