body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:412px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2572 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:789px;
}
#u2573 {
  position:absolute;
  left:10px;
  top:10px;
  width:402px;
  height:789px;
}
#u2574 {
  position:absolute;
  left:2px;
  top:386px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:635px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2575 {
  position:absolute;
  left:30px;
  top:73px;
  width:358px;
  height:635px;
}
#u2576 {
  position:absolute;
  left:2px;
  top:310px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2577 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:43px;
}
#u2578 {
  position:absolute;
  left:30px;
  top:73px;
  width:358px;
  height:43px;
}
#u2579 {
  position:absolute;
  left:2px;
  top:14px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2580 {
  position:absolute;
  left:162px;
  top:87px;
  width:93px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2581 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u2582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:592px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2582 {
  position:absolute;
  left:31px;
  top:115px;
  width:356px;
  height:592px;
}
#u2583 {
  position:absolute;
  left:2px;
  top:288px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2584 {
  position:absolute;
  left:49px;
  top:364px;
  width:320px;
  height:40px;
}
#u2585 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u2586 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2587 {
  position:absolute;
  left:158px;
  top:144px;
  width:100px;
  height:100px;
}
#u2588 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:41px;
}
#u2589 {
  position:absolute;
  left:178px;
  top:174px;
  width:60px;
  height:41px;
}
#u2590 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2591 {
  position:absolute;
  left:173px;
  top:265px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u2592 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
}
#u2593 {
  position:absolute;
  left:165px;
  top:294px;
  width:89px;
  height:22px;
  font-size:18px;
}
#u2594 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
