body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1767 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:789px;
}
#u1768 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:789px;
}
#u1769 {
  position:absolute;
  left:2px;
  top:386px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:635px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1770 {
  position:absolute;
  left:20px;
  top:63px;
  width:358px;
  height:635px;
}
#u1771 {
  position:absolute;
  left:2px;
  top:310px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1772 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:43px;
}
#u1773 {
  position:absolute;
  left:20px;
  top:63px;
  width:358px;
  height:43px;
}
#u1774 {
  position:absolute;
  left:2px;
  top:14px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1775 {
  position:absolute;
  left:152px;
  top:77px;
  width:93px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1776 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u1777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:592px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1777 {
  position:absolute;
  left:21px;
  top:105px;
  width:356px;
  height:592px;
}
#u1778 {
  position:absolute;
  left:2px;
  top:288px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1779 {
  position:absolute;
  left:39px;
  top:354px;
  width:320px;
  height:40px;
}
#u1780 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u1781 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1782 {
  position:absolute;
  left:148px;
  top:134px;
  width:100px;
  height:100px;
}
#u1783 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:41px;
}
#u1784 {
  position:absolute;
  left:168px;
  top:164px;
  width:60px;
  height:41px;
}
#u1785 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1786 {
  position:absolute;
  left:163px;
  top:255px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u1787 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:16px;
}
#u1788 {
  position:absolute;
  left:80px;
  top:293px;
  width:236px;
  height:16px;
}
#u1789 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
