body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:697px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9661 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:789px;
}
#u9662 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:789px;
}
#u9663 {
  position:absolute;
  left:2px;
  top:386px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:635px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9664 {
  position:absolute;
  left:20px;
  top:63px;
  width:358px;
  height:635px;
}
#u9665 {
  position:absolute;
  left:2px;
  top:310px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9666 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:49px;
}
#u9667 {
  position:absolute;
  left:20px;
  top:63px;
  width:358px;
  height:49px;
}
#u9668 {
  position:absolute;
  left:2px;
  top:16px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u9669 {
  position:absolute;
  left:152px;
  top:77px;
  width:93px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u9670 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u9671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9671 {
  position:absolute;
  left:31px;
  top:80px;
  width:18px;
  height:18px;
}
#u9672 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:179px;
}
#u9673 {
  position:absolute;
  left:20px;
  top:111px;
  width:358px;
  height:179px;
}
#u9674 {
  position:absolute;
  left:2px;
  top:82px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:398px;
}
#u9675 {
  position:absolute;
  left:20px;
  top:300px;
  width:358px;
  height:398px;
}
#u9676 {
  position:absolute;
  left:2px;
  top:191px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u9677 {
  position:absolute;
  left:124px;
  top:360px;
  width:150px;
  height:150px;
  color:#169BD5;
}
#u9678 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  word-wrap:break-word;
}
#u9679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u9679 {
  position:absolute;
  left:33px;
  top:539px;
  width:341px;
  height:32px;
  font-size:13px;
  color:#666666;
}
#u9680 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u9681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9681 {
  position:absolute;
  left:138px;
  top:223px;
  width:123px;
  height:40px;
}
#u9682 {
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u9683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
}
#u9683 {
  position:absolute;
  left:144px;
  top:159px;
  width:111px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u9684 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u9685 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9686 {
  position:absolute;
  left:449px;
  top:170px;
  width:248px;
  height:146px;
}
#u9687 {
  position:absolute;
  left:2px;
  top:65px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:2px;
}
#u9688 {
  position:absolute;
  left:449px;
  top:269px;
  width:248px;
  height:1px;
}
#u9689 {
  position:absolute;
  left:2px;
  top:-8px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:2px;
}
#u9690 {
  position:absolute;
  left:449px;
  top:269px;
  width:248px;
  height:1px;
}
#u9691 {
  position:absolute;
  left:2px;
  top:-8px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u9692 {
  position:absolute;
  left:594px;
  top:280px;
  width:76px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u9693 {
  position:absolute;
  left:0px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u9694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9694 {
  position:absolute;
  left:486px;
  top:210px;
  width:164px;
  height:20px;
  font-size:14px;
}
#u9695 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u9696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u9696 {
  position:absolute;
  left:480px;
  top:280px;
  width:76px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u9697 {
  position:absolute;
  left:0px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u9698 {
  position:absolute;
  left:261px;
  top:243px;
  width:0px;
  height:0px;
}
#u9698_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:192px;
  height:8px;
}
#u9698_seg1 {
  position:absolute;
  left:173px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9699 {
  position:absolute;
  left:44px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
