body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1302px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1001px;
}
#u142 {
  position:absolute;
  left:1301px;
  top:-7px;
  width:1px;
  height:1000px;
}
#u143 {
  position:absolute;
  left:2px;
  top:492px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:27px;
}
#u144 {
  position:absolute;
  left:14px;
  top:17px;
  width:150px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#2457A8;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:61px;
}
#u146 {
  position:absolute;
  left:14px;
  top:50px;
  width:924px;
  height:60px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1001px;
}
#u148 {
  position:absolute;
  left:1301px;
  top:167px;
  width:1px;
  height:1000px;
}
#u149 {
  position:absolute;
  left:2px;
  top:492px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:28px;
}
#u150 {
  position:absolute;
  left:14px;
  top:290px;
  width:150px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#2457A8;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:78px;
}
#u152 {
  position:absolute;
  left:14px;
  top:324px;
  width:675px;
  height:77px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:113px;
}
#u154 {
  position:absolute;
  left:14px;
  top:157px;
  width:565px;
  height:112px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:27px;
}
#u156 {
  position:absolute;
  left:14px;
  top:120px;
  width:150px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#2457A8;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:28px;
}
#u158 {
  position:absolute;
  left:14px;
  top:401px;
  width:150px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#2457A8;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:17px;
}
#u160 {
  position:absolute;
  left:14px;
  top:438px;
  width:502px;
  height:16px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:17px;
}
#u162 {
  position:absolute;
  left:14px;
  top:120px;
  width:417px;
  height:16px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  visibility:hidden;
  white-space:nowrap;
}
