body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:788px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:789px;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:789px;
}
#u278 {
  position:absolute;
  left:2px;
  top:386px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:635px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u279 {
  position:absolute;
  left:20px;
  top:63px;
  width:358px;
  height:635px;
}
#u280 {
  position:absolute;
  left:2px;
  top:310px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:43px;
}
#u282 {
  position:absolute;
  left:20px;
  top:63px;
  width:358px;
  height:43px;
}
#u283 {
  position:absolute;
  left:2px;
  top:14px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u284 {
  position:absolute;
  left:152px;
  top:77px;
  width:93px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u285 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:201px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u286 {
  position:absolute;
  left:21px;
  top:116px;
  width:356px;
  height:201px;
}
#u287 {
  position:absolute;
  left:2px;
  top:92px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288 {
  position:absolute;
  left:228px;
  top:253px;
  width:100px;
  height:34px;
}
#u289 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u290 {
  position:absolute;
  left:156px;
  top:223px;
  width:131px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u291 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u292 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u293 {
  position:absolute;
  left:162px;
  top:145px;
  width:68px;
  height:68px;
  font-size:72px;
}
#u294 {
  position:absolute;
  left:2px;
  top:-8px;
  width:64px;
  word-wrap:break-word;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u295 {
  position:absolute;
  left:81px;
  top:253px;
  width:100px;
  height:34px;
}
#u296 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:70px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u297 {
  position:absolute;
  left:412px;
  top:125px;
  width:376px;
  height:70px;
}
#u298 {
  position:absolute;
  left:10px;
  top:10px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u299 {
  position:absolute;
  left:430px;
  top:149px;
  width:304px;
  height:21px;
  color:#FF0000;
}
#u300 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
